*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    border:none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "poppins", sans-serif;
}
html{
    font-size: 60%;
    overflow-x: hidden;
}
body {
    /* Remove any default body padding */
    background-color: #170707;
    color: white;
     /* Set the minimum height to the full viewport height */

  }
.header{
    position:fixed;
    left: 0;
    right: 0;
    padding: 4rem 12% 4rem 35%;
    background:linear-gradient(180deg,rgb(208, 120, 60, 0.5),rgb(0, 0, 0,0.5)) transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    width: 100%;

}
.logo{
    font-size: 4rem;
    position: center;
    color: white;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}
.logo:hover{
    transform: scale(1.1);
}
.logo span{
    text-shadow:rgba(243, 151, 89, 0.815);
}

span{
    color: rgba(243, 151, 89, 0.815);
}
section{
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: right;
    justify-content: center;
    margin-top: 80px;
}
.home-content h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;

}
.home-content h1{
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}
img{
    position: relative;
    width: 32vw;
    border-radius: 100%;
    
    cursor: pointer;
    transition: 0.4s ease-in-out;
    margin-top: 100px;
}

.home-content p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
}